body {
    padding-top: 5rem;
  }
  .starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
  }
  .navbar .navbar-brand{
      color:rgb(29, 92, 151);
  }
  .nav-link{
    margin-left: 50px;
  }
  .navbar{
    background-color: rgb(111, 199, 221);
  }

/*START FOOTER*/
.footer {
  background-color: rgb(111, 199, 221);
  color: white;
  padding: 30px 0 30px;
}

.footer h1 {
  font-family: "lato" , sans-serif;
  font-size: 1.5em;
}

.footer p{
  font-size: 0.9em;
  color: #f2f2f2;
}

.footer a {
  color: #f2f2f2;
  
}
/*End FOOTER*/